{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard  <small>Welcome {{session.username}}</small></h1>
    <a class="btn btn-success" href='/dashboard'>Add</a>
    {% if prediction %}
    <h2>Code: {{prediction.stock_code}}</h2>
    <h2>Date: {{prediction.date}}</h2>
    <h2>Expected Price: {{prediction.price}}</h2>
    {% endif %}
    <form action="" method="POST">
        <div class="form-group">
            <label>Stock Code</label>
            <select name="stock_code" class="form-control">
            {% for stock_code, stock_name in stock_code_name %}
                <option value="{{stock_code}}">({{stock_code}}) {{stock_name}}</option>
            {% endfor %}
            </select>
            <!--
            <input type="text" name="stock_code" class="form-control" value={{request.form.stock_code}}>
            -->
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="text" name="date" class="form-control" value={{request.form.date}}>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <iframe frameborder='1'
            noresize='noresize'
            style='position: absolute; background: transparent; width: 50%; height:70%;'
            src={{dash_url}}></iframe>

{% endblock%}